<div>
	<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}"
		close="vm.closeAlert($index)">{{alert.msg}}</alert>
	<form>
		<div class="form-group">
			<label>Nome do seriado</label>
			<input type="text" class="form-control" data-ng-model="vm.name" placeholder="Nome">
		</div>
		<div class="form-group">
			<label>Temporada atual</label>
			<input type="text" class="form-control" data-ng-model="vm.season" placeholder="Temporada">
		</div>
		<input ng-if="vm.isEditing" type="button" class="btn btn-danger" data-ng-click="vm.cancel()" value="Cancelar">
		<input type="button" class="btn btn-default" data-ng-click="vm.save(vm.name, vm.season)" value="Salvar">
	</form>
	<hr>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Temporada</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="series in vm.series">
				<td>{{ series.name }}</td>
				<td>{{ series.season }}</td>
				<td><a data-ui-sref="seriados" class="btn btn-btn-danger" data-ng-click="vm.editar(series)">E</a> <a class="btn btn-danger" data-ui-sref="seriados" data-ng-click="vm.excluir(series)">X</a> </td>
			</tr>
		</tbody>
	</table>
</div>