<!DOCTYPE html>
<html ng-app="meuApp">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/app/controllers.js"></script>		
		<script type="text/javascript" src="js/app/simple.controller.js"></script>
		<script type="text/javascript" src="js/app/router.js"></script>			
	</head>
	<body>
		<div ng-controller="SimpleController">
			<div class="container">
				Name: <input type="text" ng-model="nome" />
				<br>
				Tipo: <input type="text" ng-model="tipo" />
			</div>
			<div class="container">
				<ul>
					<li ng-repeat="grimm in personagens | filter: nome | filter: tipo | orderBy: grimm.name">{{grimm.name | uppercase}} - {{grimm.type | lowercase}}</li>
				</ul>
			</div>
		</div>
	</body>
</html>